<div class="row">
	<div class="page-header">
		<h2>New Requirement <small>for <%= @project.title %></small></h2>
	</div>
	<%= f.simple_fields_for :field_values do |v| %>
		<% @fields.each do |field| %>
			<%= v.input field.id, as: convert_type(field.field_type), label: field.name.humanize %>
	<% end %>
	<% end %>
</div>