<div class="row">
	<div class="page-header">
		<h2>Edit Requirement <small>for <%= @project.title %></small></h2>
	</div>
	<%= simple_form_for [@project,@requirement] do |f| %>
		<%= render "form", f:f %>
		<div class="form-actions">
					<%= f.button :submit, "Update requirement", class:"btn btn-primary" %>
		</div>
	<% end %>
</div>
