<div class="col-md-12">
	<h2>Requirements <small><%= link_to "New Requirement", new_project_requirement_path(@project) %></small></h2>
	<% if @requirements.empty? %>
		<p class="text-center">
			You don't have any requirement yet. <%= link_to "Create one", new_project_requirement_path(@project) %>
		</p>
	<% else %>
		<p><%= render "requirement_list", requirements:@requirements, project: @project %></p>
	<% end %>
</div>
