<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to recuariments, <%= @email %></h1>
    <p>
      Hi!, We create an account for you. This because you have been invited to participate in a project. Your credentials:
			<ul>
				<li><strong>Username:</strong> <%= @email %></li>
				<li><strong>Password:</strong> <%= @password %></li>
			</ul>
			 You can <%= link_to "Sign in Here", @signin %><br/>
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>

