<!-- <div class="input-append date" id="datepicker_append" data-date-format="dd-mm-yyyy"> -->
    <%= f.input_field field.field_name, as: :string%><span class="add-on"><i class="glyphicon glyphicon-th"></i></span>
<!-- </div> -->
