<div class="form-group">
	<label>
		<%= field.name %>
	</label>
  <%= f.input_field field.field_name, as: :string, data:{:"date-format" => "dd/mm/yyyy"}, id: "datepicker-append-#{field.field_name}" %>
</div>
<script type="text/javascript" charset="utf-8">
	$('[id*=datepicker-append-]').datepicker();
</script>