<div class="input-append date" id="datepicker_append" data-date-format="dd-mm-yyyy">
    <%= f.input_field field.field_name, as: :string, readonly: true %><span class="add-on"><i class="icon-th"></i></span>
</div>
