<table class="table table-bordered">
	<thead>
		<tr>
			<th>Email</th>
			<th>Options</th> 
		</tr>
	</thead>
	<tbody>
		<% @collaborators.each do |member| %>
		  <tr>
				<td><%= member.user.email %> <%= raw('<span class="label label-success">Owner</span>') if member.owner %> </td>
		  	<td><%= link_to "Remove from Project", project_collaborator_path(@project, member.user), method: :delete, data: {confirm: "Are you sure?"}%></td>
		  </tr>
		<% end %>
	</tbody>
</table>