<%= simple_form_for :collaborator, url: {controller: :collaborators, action: :create}, html:{class:"form-inline"} do |f| %>
	<%= render "form", f:f %>
	<div class="row">
		<div class="form-actions">
			<%= f.button :submit, "Add Collaborator", class:"btn btn-primary" %>
			<%= link_to "Cancel", :back, class:"btn" %>
		</div>
	</div>
<% end %>