<% requirements.each do |requirement|%>
	<div class="hero-unit">
		<% requirement.requirement_attributes.reverse.each do |requirement_attribute| %>
			<div class="row-fluid">
				<div class="span4">
					<strong><%= requirement_attribute.requirement_field.name %>:</strong>
				</div>
				<div class="span8">
					<%= requirement_attribute.value %>
				</div>
			</div>
		<% end %>
		
	</div>
	<div class="row-fluid">
		<small class="pull-right"><%= link_to "Edit", edit_project_requirement_path(@project,requirement) %> | Delete</small>
	</div>
<% end %>