<div class="col-md-12">
	<div class="row">
		<h2><%= @project.title %></h2>
		<p class="lead">
			Welcome to the dashboard of your project. Here you can manage the recuariments, collaborators and more!.
		</p>
	</div>
	<div class="row">
		<h2>Messages</h2>
		<p class="lead">Here you can post important messages about the project!.</p>
	</div>
	<div class="row">
		<div class="jumbotron">
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<span class="label label-default">User</span>
						<span class="label label-info">22/08/2013</span>
					</div>
					<div class="col-md-8">
						lkajdlkasjdlksajdlkasjdlksjadlkjasdlkjsalkd
					</div>
				</div>
				<div class="row">
					FORMULARIO!
				</div>
			</div>
		</div>
	</div>
</div>