<div class="row col-md-12">
	<label>
		Type
	</label>
	<%= f.input_field :field_type, as: :select, collection: RequirementField::SUPPORTED_FIELD_TYPE, class:"col-md-12" %>
</div>

<div class="row col-md-12">
	<label>
		Name
	</label>
	<%= f.input_field :name, as: :string, class:"col-md-12" %>
</div>
<div class="row col-md-12">
	<%= f.input_field :required, label:false, inline_label: "Required"%>
</div>
<div class="row col-md-12">
	<%= f.input_field :unique, label: false, inline_label: "Unique"%>
</div>